body{
    margin: 0;
    padding : 0;
}

.desc:hover{
    color: #1dbf73;
}

.card-image{
    object-fit: fill !important;
}

.card-header{
    display: flex;
    justify-content: space-between;
}

.seller-info{
    display: flex;
}

#desc{
    text-overflow: ellipsis;
}

.price-area{
    display: inline-block;
    border-width: 0px;
    outline: 0;
    width: 62px !important;
    height: 28px;
    line-height: 28px;
    padding: 4px;
    text-align: center;
    border-radius: 7px;
    background-color: #5bc0de;
    cursor: not-allowed;
}