{% extends 'layouts/app.html' %}
{% load static %}
{% block script %}
<script type="text/javascript" src="{% static '/js/index.js' %}"></script>
{% endblock %}
{% block title%}
<title>Dashboard</title>
{% endblock %}
{% block content %}
{% if messages %}
<ul style="list-style-type: none;">
    {% for message in messages %}
    <li {% if message.tags %} class="alert alert-{{ message.tags }} alert-dismissible" {% endif %}>
        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %} Important: {% endif %}
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </li>
    {% endfor %}
</ul>
{% endif %}
<div class="d-flex justify-content-between">
    <h4>Designs You May Like</h4>
    <button class="btn btn-info">Request A Design</button>
</div>
<hr>
<div class="form-group">
    <input type="text" class="form-control" id="filtertext" oninput="filterDesigns()"
        placeholder="Filter Designs By Category..." />
</div>
<div class="row" id="designs">
</div>
{% endblock %}